body{
    margin:0;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 400px;
    
}


input{
    width:100%;
    padding-left: 10px;
    padding-right:10px;
    box-sizing:border-box;
    padding-top: 10px;
    padding-bottom: 10px;


}

button{
    background-color:#5f9341 ;
    color:white;
    padding: 10px 10px 10px 10px;
    margin-top:5px;
}

ul{
    margin-top:20px;
    padding-left:0;
    list-style:none;

}

li{
    margin-top:5px;
}

li a{
    color:#5f9341;
}

#delete-btn{
    background-color:white ;
    color:#5f9341;
    padding: 10px 10px 10px 10px;
    margin-top:5px;

}
.btn{
    display: block;
    background-color: aqua;
    color:black;
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
}
/* #btn1{
    display:none;
} */
#new{
   display: none;
}


#tab{
    height: 20px;
}